desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$amarelo    = #FFCC29
$texto      = #4B4E4E
$textoClaro = #808080

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,700';
dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
