.not-found
    width 100%
    background $amarelo
    text-align center
    padding 180px 0
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $texto
        dosis 15
        color $texto
        text-transform uppercase
