.clientes
    .clientes-thumbs
        clearfix()
        div
            width 14.28%
            float left
            border 1px solid $amarelo
            margin-left -1px
            margin-top -1px
            padding 12px
            +tablet()
                width 20%
            +mobile()
                width 33.33%
            img
                width 100%
                height auto
                vertical-align top
