.contato
    margin-bottom 0
    .center
        clearfix()
    .informacoes
        width 100%
        float left
        margin-bottom 30px
        .telefone
            margin 0 0 15px
            dosis 28 bold
            line-height 1
            color darken($amarelo, 5)
            +tablet()
                font-size 26px
            +mobile()
                font-size 24px
        .endereco
            opensans 16
            color $texto
            line-height 1.2
            margin 0
            +mobile()
                font-size 15px
    form
        width calc('50% - 12px')
        float left
        margin-bottom 30px
        clearfix()
        +mobile()
            width 100%
            margin-bottom 25px
        h3
            dosis 18 bold
            color $amarelo
            margin-top 0
            +mobile()
                margin-bottom .7em
        input
            width 100%
            float left
            border 1px solid $amarelo
            opensans 16 normal italic
            +tablet()
                font-size 15px
            +mobile()
                font-size 14px
                width 100%
            line-height 1
            color #000
            outline 0
            margin-bottom 2px
            padding 4px 8px
            &[type='submit']
                width 100%
                height 32px
                border 0
                background $amarelo
                dosis 16
                color $texto
                text-transform uppercase
                transition background .3s, color .3s
                +mobile()
                    width 100%
                &:hover
                    background #000
                    color $amarelo
        textarea
            float left
            border 1px solid $amarelo
            opensans 16 normal italic
            line-height 1
            color #000
            outline 0
            padding 6px 8px
            resize none
            width 100%
            height 115px
            margin-bottom 2px
            +mobile()
                width 100%
        .response
            display none
            width 100%
            background $texto
            float left
            color $amarelo
            dosis 16
            text-align center
            padding 10px
        .file-input
            width calc('50% - 1px')
            +mobile()
                width 100%
                margin-bottom 2px
            float left
            display block
            position relative
            outline none
            background $amarelo
            color $texto
            height 32px
            margin-bottom 2px
            cursor pointer
            transition background .3s, color .3s
            &.active
                background #000
                color $amarelo
            input[type='file']
                opacity 0
                top 0
                left 0
                width 0
                height 0
                position absolute
                z-index -1
            span
                dosis 16
                padding 0 20px
                display block
                line-height 32px
                white-space nowrap
                overflow hidden
                text-align center
                text-overflow ellipsis
        &#form-contato
        &#form-curriculo
            float right
        &#form-fornecedor
            clear left
            input[type=text]
            input[type=email]
                width calc('50% - 1px')
                float left
                &:nth-child(3)
                &:nth-child(5)
                    float right
        &#form-briefing
        &#form-curriculo
            textarea
                height 81px
            input[type=submit]
                width calc('50% - 1px')
                float right
                +mobile()
                    width 100%
    .mapa
        width 100%
        height 650px
        margin-top 45px
        +tablet()
            height 450px
        +mobile()
            margin-top 30px
            height 250px
        iframe
            width 100%
            height 100%
            display block
