.empresa
    .secao
        width 100%
        .handle
            display block
            width 100%
            padding 5px 0
            dosis 20
            color $textoClaro
            border-top 1px solid lighten($textoClaro, 30)
            text-align center
            text-transform uppercase
            transition background .3s, font-size .3s
            &:hover
                background $amarelo
            +mobile()
                font-size 18px
        &:last-child .handle
            border-bottom 1px solid lighten($textoClaro, 30)
        &-conteudo
            display none
            padding 25px 0 50px
            +mobile()
                padding 15px 0 30px
        &.aberto
            border-bottom 1px solid $amarelo
            + .secao .handle
                border-top none
            .handle
                background $amarelo
                border none
                font-size 28px
                +mobile()
                    font-size 24px
            .secao-conteudo
                display block
        &-historia .secao-conteudo
            text-align center
            opensans 16
            color $texto
            max-width 800px
            margin-left auto
            margin-right auto
            img
                display block
                max-width 100%
                margin 1.5em auto
            p
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
        &-diferenciais .secao-conteudo
            padding-bottom 0
            clearfix()
            .diferencial
                width 50%
                float left
                text-align center
                padding 0 50px
                margin-bottom 55px
                &:nth-child(2n+1)
                    clear left
                img
                    display block
                    max-width 100%
                    margin 0 auto 15px
                h4
                    dosis 28 bold
                    color $amarelo
                    margin 0 0 15px
                    line-height 1.1
                p
                    opensans 16
                    color $texto
                    margin 0
                    text-align left
                +tablet()
                    padding 0 35px
                    margin-bottom 45px
                    h4
                        font-size 24px
                    p
                        font-size 15px
                +mobile()
                    padding 0 5%
                    width 100%
                    margin-bottom 35px
                    h4
                        font-size 22px
                    p
                        font-size 15px
        &-valores .secao-conteudo
            clearfix()
            .col
                width 33.33%
                float left
                text-align center
                padding 0 20px
                img
                    display block
                    max-width 100%
                    margin 0 auto 15px
                h4
                    dosis 36 bold
                    color $amarelo
                    margin 0 0 15px
                    line-height 1.1
                    text-transform uppercase
                p
                    opensans 16
                    color $texto
                    margin 0
                +tablet()
                    h4
                        font-size 24px
                    p
                        font-size 15px
                +mobile()
                    padding 0 5%
                    width 100%
                    margin-bottom 25px
                    h4
                        font-size 22px
                    p
                        font-size 15px
        &-estrutura .secao-conteudo
            padding-bottom 0
            font-size 0
            text-align center
            clearfix()
            .estrutura
                width 33.33%
                display inline-block
                text-align center
                padding 0 50px
                margin-bottom 55px
                img
                    display block
                    max-width 100%
                    margin 0 auto 15px
                    border-radius 100%
                    border 10px solid #F0F0F0
                h4
                    dosis 28 bold
                    color $amarelo
                    margin 0 0 15px
                    line-height 1.1
                p
                    opensans 16
                    color $texto
                    margin 0
                +tablet()
                    padding 0 35px
                    width 50%
                    margin-bottom 45px
                    h4
                        font-size 24px
                    p
                        font-size 15px
                +mobile()
                    padding 0 5%
                    width 100%
                    margin-bottom 35px
                    h4
                        font-size 22px
                    p
                        font-size 15px
        &-perfil .secao-conteudo
            padding-bottom 0
            .perfil-imagem
                background $img('jens-ivair.png') no-repeat center bottom
                min-height 400px
                clearfix()
                .col
                    width 50%
                    float left
                    padding-top 50px
                    padding-bottom 120px
                    h4
                        dosis 28 bold
                        color $amarelo
                        margin 0 0 15px
                        line-height 1
                    p
                        opensans 16
                        color $texto
                        margin 0
                    &:first-child
                        padding-right 200px
                        text-align right
                    &:last-child
                        padding-left 200px
                        text-align left
                +tablet()
                    background-size auto 250px
                    min-height 250px
                    .col
                        padding-top 0
                        padding-bottom 40px
                        h4
                            font-size 24px
                        p
                            font-size 15px
                        &:first-child
                            padding-right 130px
                        &:last-child
                            padding-left 130px
                +mobile()
                    min-height auto
                    background-size auto 250px
                    padding-bottom 270px
                    .col
                        width 100%
                        text-align center !important
                        padding 0 !important
                        &:first-child
                            margin-bottom 20px
                        h4
                            font-size 22px
                            margin-bottom 5px
                        p
                            font-size 15px
            .perfil-depoimentos
                background #4B4E4E
                margin-top -1px
                padding 40px 130px 60px
                clearfix()
                > p
                    margin 0
                    text-align center
                    dosis 24 light
                    color $amarelo
                    text-transform uppercase
                .video
                    display block
                    margin-top 30px
                    width 32%
                    float left
                    margin-right 2%
                    &:nth-child(3n)
                        margin-right 0
                    &:nth-child(3n+1)
                        clear left
                    .capa
                        width 100%
                        height 0
                        padding-bottom 56.25%
                        background-size cover
                        background-position center
                        position relative
                        &:after
                            content ''
                            position absolute
                            top 0
                            left 0
                            width 100%
                            height 100%
                            background $img('play.png') no-repeat center
                            transition background .3s
                    &:hover
                        .capa:after
                            background-color rgba($amarelo, .85)
                        p
                            color $amarelo
                    p
                        dosis 18
                        color #fff
                        text-transform uppercase
                        margin 10px 0 0
                        line-height 1.3
                        transition color .3s
                        span
                            display block
                            opensans 14
                            text-transform none
                +tablet()
                    padding 30px 40px 40px
                    > p
                        font-size 20px
                +mobile()
                    padding 20px 20px 25px
                    > p
                        font-size 18px
                    .video
                        margin-top 20px
                        width 47%
                        margin-right 3%
                        &:nth-child(3n)
                            margin-right 3%
                        &:nth-child(3n+1)
                            clear none
                        &:nth-child(2n)
                            margin-right 0
                        &:nth-child(2n+1)
                            clear left
                        p
                            dosis 16
                            span
                                opensans 13
