@keyframes panning
    0%
        transform translateX(0) translateY(0) scale(1, 1)
    100%
        transform translateX(-3%) translateY(-5%) scale(1.1, 1.1)

.banners
    position absolute
    top 85px
    left 0
    width 100%
    height calc('100% - 85px')
    overflow hidden
    .banner
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        .imagem
            position absolute
            top 0
            left 0
            width 115%
            height 120%
            background-size cover
            background-position center
            z-index -1
            &.animado
                animation panning 8s ease-in-out
        .faixa
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background $amarelo
                background-image linear-gradient(180deg, #FDBB41 0%, #FFDE3E 100%)
                opacity .9
                z-index -1
            p
                dosis 36 light
                text-align right
                color #fff
                text-transform uppercase
                padding 1em 0 .7em
                line-height 1
                strong
                    dosis 2.8em light
                    display inline-block
                    margin -.15em .1em 0
                    vertical-align middle
                +tablet()
                    font-size 28px
                +mobile()
                    font-size 24px
                    text-align center
                    strong
                        dosis 2em light
                        margin-bottom .15em
                        display block
