.projetos
    .center
        clearfix()
    .projetos-masonry
        .thumb
            position relative
            text-decoration none
            display block
            margin-bottom 1%
            +mobile()
                margin-bottom 2%
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                opacity 0
                transition opacity .3s ease
                width 100%
                height 100%
                top 0
                left 0
                background rgba($amarelo, .8)
                span
                    display block
                    position absolute
                    top 50%
                    left 0
                    width 100%
                    text-align center
                    padding 0 20px
                    dosis 30
                    color $texto
                    text-transform uppercase
                    transform translateY(-50%)
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1
        .thumb
        .grid-sizer
            width 32.3%
            +below($tablet)
                width 49%
            +mobile()
                width 100%
        .gutter-sizer
            width 1%
            +mobile()
                width 0
    .hidden
        width 0
        height 0
        visibility hidden
        display none

.fancybox-skin
    border-radius 0
    background #fff
    box-shadow none !important
