.servicos
    .center
        clearfix()
        .servicos-categoria
            width 47%
            float left
            clearfix()
            +mobile()
                width 100%
                margin-bottom 10px
            h2
                dosis 28
                margin 0 0 20px
                color $textoClaro
                text-transform uppercase
                +mobile()
                    margin-bottom 10px
            img
                display block
                width 100%
                height auto
                margin-bottom 20px
                +mobile()
                    margin-bottom 12px
            a
                display block
                width 105px
                height 50px
                float left
                background $amarelo
                dosis 12
                color $texto
                text-transform uppercase
                transition background .3s, color .3s
                padding 10px
                line-height 1.2
                position relative
                white-space nowrap
                +mobile()
                    width calc('100% - 20px')
                    margin-top 10px
                    margin-bottom 15px
                span
                    dosis 16
                    display block
                &:after
                    content ''
                    position absolute
                    right -20px
                    top 0
                    width 0
                    height 0
                    border-style solid
                    border-width 25px 0 25px 20px
                    border-color transparent transparent transparent $amarelo
                    transition border .3s
                &:hover
                    background #000
                    color $amarelo
                    &:after
                        border-color transparent transparent transparent #000
            .texto
                width calc('100% - 150px')
                float right
                opensans 16
                color $texto
                *:first-child
                    margin-top 0
                *:last-child
                    margin-bottom 0
                +mobile()
                    width 100%
                    float left
                    clear left
                ul
                    padding 0
                    line-height 1.5
                    list-style-type none
                    li
                        padding-left 1em
                        position relative
                        &:before
                            content '\00b7'
                            position absolute
                            left 0
                            top -.25em
                            font-size 1.5em
            &:nth-child(2)
                float right
        .servicos-segmentos
            width 100%
            float left
            background $amarelo
            margin-top 30px
            padding 30px
            text-align center
            +mobile()
                margin-top 10px
                padding 15px
            h3
                dosis 20 bold
                margin 0 0 20px
                color #fff
                text-transform uppercase
            div
                font-size 0
                text-align left
            p
                vertical-align top
                width 50%
                display inline-block
                opensans 18
                color $texto
                margin 0 0 .3em
                line-height 1
                text-align right
                padding-right 1em
                &:nth-child(2n)
                    text-align left
                    padding-left 1em
                +tablet()
                    font-size 16px
                +mobile()
                    width 100%
                    font-size 15px
                    text-align center !important
