.main
    margin 0 0 75px
    +tablet()
        margin-bottom 50px
    +mobile()
        margin-bottom 30px
    .faixa
        width 100%
        background $amarelo
        background-image linear-gradient(180deg, #FDBB41 0%, #FFDE3E 100%)
        margin-bottom 45px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
        h2
            text-align right
            color #fff
            text-transform uppercase
            padding .3em 0
            line-height 1
            dosis 100 light
            +tablet()
                font-size 78px
            +mobile()
                font-size 48px
