.home footer
    display none

footer
    width 100%
    .links
        background #E6E6E6
        padding 22px 0
        clearfix()
        .wrapper
            width 100%
            display flex
            justify-content space-between
            +below($tablet)
                display block
                padding-top 40px
                background $img('ji-stands-footer.png') no-repeat center top
        .col
            float left
            margin-right 50px
            a
                display block
                dosis 18
                color $texto
                text-transform uppercase
                margin-bottom 8px
                &:hover
                    color darken($amarelo, 15)
                &.sub
                    opensans 12
                    margin-top -6px
            .telefone
                dosis 20
                color $amarelo
                text-shadow 0 1px 0px #000
                margin -8px 0 10px
            .social
                padding-left 22px
                min-height 16px
                opensans 12
                text-transform none
                line-height 16px
                position relative
                margin-bottom 5px
                &-facebook
                    background $img('facebook-footer.png') no-repeat center left
                &-instagram
                    background $img('instagram-footer.png') no-repeat center left
                &-youtube
                    background $img('youtube-footer.png') no-repeat center left
            .endereco
                opensans 13
                color $texto
                margin-bottom 0
            &.col-newsletter
                max-width 400px
                margin-right 0
                float right
                padding 12px 0 12px 50px
                border-left 1px solid #fff
                p
                    opensans 12
                    color $texto
                    text-transform uppercase
                    margin 0 0 10px
                form
                    width 100%
                    clearfix()
                    input
                        width 100%
                        border 1px solid #fff
                        outline 0
                        color $texto
                        opensans 12
                        padding 3px 8px
                        background transparent
                        font-style italic
                        margin-bottom 3px
                        &[type='submit']
                            width auto
                            display inline-block
                            float right
                            padding 1px 10px
                            font-weight 700
                            text-transform uppercase
                            transition background .3s, color .3s
                            &:hover
                                background $texto
                                color #fff
                    #form-newsletter-response
                        display none
                        clear both
                        float left
                        width 100%
                        opensans 12 bold italic
                        margin-bottom 3px
                        background $amarelo
                        padding 3px 5px
                        color $texto
            +below($tablet)
                width 100%
                margin 0 0 20px
                text-align center
                float none
                a
                    display none
                .telefone
                    margin 0 0 5px
                img
                    display none
                .endereco
                    margin-top 0
                .social
                    display inline-block
                    font-size 0
                    width 16px
                    height 16px
                    padding 0
                    margin-bottom 0
                &:nth-child(1)
                &:nth-child(2)
                    display none
                &.col-newsletter
                    width 100%
                    padding 20px 0 0
                    border 0
                    border-top 1px solid #fff
                    margin 0 auto
                    float none
    .copyright
        background #4B4E4E
        text-align center
        padding 10px 0
        p
            margin 0
            opensans 10
            color lighten($textoClaro, 10)
            cursor default
            a:hover
                color $amarelo
            +mobile()
                span
                    display block
                    font-size 0
