header
    height 85px
    width 100%
    background #fff
    .center
        height 100%
        clearfix()
    .logo
        display block
        float left
        width 208px
        height 100%
        text-indent -9999px
        background $img('ji-stands.png') no-repeat center
        +below($tablet)
            width 160px
            background-size 100% auto
    #nav-desktop
        height 100%
        float left
        margin-left 110px
        position relative
        +tablet()
            float right
            margin-left 0
        +mobile()
            display none
        > *
            display block
            position relative
            float left
            top 50%
            transform translateY(-50%)
        a
            dosis 15
            text-transform uppercase
            color $texto
            display block
            float left
            margin-right 30px
            +tablet()
                margin-right 20px
            &:hover
            &.active
                color $amarelo
        .menu-projetos
            a
                position relative
                &.active + .subs
                    display block
            .subs
                display none
                position absolute
                left 0
                bottom -25px
                height 20px
                width 200px
                clearfix()
                a
                    width auto
                    height 20px
                    line-height 20px
                    float left
                    margin-right 2px
                    padding 0 5px 0 17px
                    background $texto
                    color #fff
                    border 0
                    &:hover
                        color $amarelo
                    &.active
                        background $img('seta-submenu.png') no-repeat 5px center darken($amarelo, 5)
                        color $texto !important
        > div
            clearfix()
        .social
            display block
            float left
            width 16px
            height 16px
            margin-right 6px
            text-indent -9999px
            background-position center
            background-repeat no-repeat
            &-facebook
                background-image $img('facebook.png')
            &-instagram
                background-image $img('instagram.png')
            &-youtube
                background-image $img('youtube.png')
        .lang
            width 17px
            height 14px
            text-indent -9999px
            display block
            margin 0
            margin-left 24px
            background-position center
            background-repeat no-repeat
            +tablet()
                margin-left 10px
            &-en
                background-image $img('lang-en.png')
            &-pt
                background-image $img('lang-pt.png')
    .header-contato
        float right
        text-align right
        padding-top 12px
        +below($tablet)
            display none
        p
            padding-right 26px
            margin 0
            color $texto
            &:first-child
                opensans 18 bold
                background $img('telefone.png') no-repeat right center
                margin-bottom 3px
            &:last-child
                opensans 10
                min-height 22px
                background $img('localizacao.png') no-repeat right center
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 4px
            background darken($amarelo, 10)
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background darken($amarelo, 10)
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        background $texto
        border-bottom 4px solid darken($texto, 8)
        padding 20px 0
        text-align center
        z-index 106
        a
            display block
            color $amarelo
            dosis 16
            text-transform uppercase
            text-decoration none
            padding 5px 0
            &.active
                color #fff
        div
            width 100%
            font-size 0
            text-align center
            margin 15px 0
            .social
                display inline-block
                width 16px
                height 16px
                margin-right 6px
                text-indent -9999px
                background-position center
                background-repeat no-repeat
                &-facebook
                    background-image $img('facebook.png')
                &-instagram
                    background-image $img('instagram.png')
                &-youtube
                    background-image $img('youtube.png')
        .subs
            display none
            margin 0
            background darken($texto, 10)
            padding 5px 0
        .menu-projetos
            margin 0
            a.active + .subs
                display block
        .lang
            width 17px
            height 14px
            text-indent -9999px
            display block
            margin 0 auto
            background-position center
            background-repeat no-repeat
            +tablet()
                margin-left 10px
            &-en
                background-image $img('lang-en.png')
            &-pt
                background-image $img('lang-pt.png')
